$color_1: white;
$color_2: #333;
$color_3: #585757;
$color_4: #4d8f03;
$color_5: #fff;
$color_6: var(--cor-padrao);
$font-family_1: 'Poppins', sans-serif;
$background-color_1: var(--cor-padrao);
$border-color_1: var(--cor-padrao);

@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@media screen and (max-width: 779px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --cor-padrao: #5aa802;
    }

    ::selection {
        background-color: $background-color_1;
        color: $color_1;
    }

    body {
        font-family: $font-family_1;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background-color_1;
        padding: 40px;
    }

    main {
        max-width: 450px;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        padding: 40px 30px;
        border-radius: 5px;

        .login-form {
            .login-form__titulo {
                position: relative;
                font-size: 24px;
                font-weight: 500;
                color: $color_2;

                a {
                    text-decoration: none;
                    color: $color_3;

                    &:hover {
                        transition: all 0.3s ease;
                        color: $color_4;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 25px;
                    background-color: $background-color_1;
                }
            }

            .caixa-input {
                display: flex;
                align-items: center;
                height: 50px;
                width: 100%;
                margin: 10px 0;
                position: relative;

                input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    border: none;
                    padding: 0 30px;
                    font-size: 16px;
                    font-weight: 500;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                    transition: border-color 0.3s ease;

                    &:focus {
                        border-color: $border-color_1;
                    }
                }

                input[type="submit"] {
                    background-color: $background-color_1;
                    border: 0;
                    color: $color_5;
                    border-radius: 5px;
                    cursor: pointer;
                }

                i {
                    position: absolute;
                    color: $color_6;
                    font-size: 17px;
                }
            }

            .esqueci-senha {
                a {
                    color: $color_6;
                    text-decoration: none;
                }
            }

            .ou {
                text-align: center;
                margin: 10px;
                font-size: 18px;
            }

            .midias-sociais {
                text-align: center;

                i {
                    margin: 10px;
                    font-size: 30px;
                    cursor: pointer;

                    &:hover {
                        color: $color_6;
                    }
                }
            }

            .singup-text {
                a {
                    color: $color_6;
                    text-decoration: none;
                }
            }
        }

        div.login-form {
            div.midias-sociais {
                i.fa-brands.fa-apple {
                    font-size: 37px;
                }
            }
        }

        .login-img {
            width: 100%;
        }
    }
}