* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: 10px;
    scrollbar-color: #919191;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 10px;
    border: 1px solid white;
}

::selection {
    background-color: #47941a;
    color: white;
}

:root {
    --cor1: #518432;
    --cor2: #47941a;
    --cor3: #AAAAAA;
    --cor4: rgb(97, 96, 96);
}

nav#menu-inicial-preferencias {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.2px solid var(--cor3);
}

.preferencias-menu {
    width: 340px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.itens-preferencias {
    width: 90px;
    height: auto;
}

.itens-preferencias:first-child {
    border-right: 1px solid var(--cor3);
}

.itens-preferencias:nth-child(2) {
    width: 100px;
    border-right: 1px solid var(--cor3);
}

.botão-abertura {
    border: none;
    background-color: white;
    font-size: 15px;
}

.negrito {
    font-weight: bold;
}

button>.negrito {
    font-weight: bold;
    font-size: 18px;
}

#menu-inicial-preferencias>div:nth-child(2)>img {
    width: 125px;
    padding-top: 26px;
}

.informações-menu {
    width: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.informações-menu>i {
    font-size: 20px;
}

.informações-menu>p>i {
    font-size: 20px;
    padding-right: 8px;
}

.informações-menu>p {
    display: inline;
    font-size: 15px;
    font-weight: 400;
}

.filtragem-planta {
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.botões-limpos {
    border: none;
    font-size: 15px;
    font-weight: 400;
    background-color: white;
    cursor: pointer;
}

#carrossel-inicio {
    width: 100%;
    height: 67vh;
    background-image: url("../img/fundos/picture-frame-leaning-against-white-wall.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#titulo-carrossel {
    margin-bottom: 10vh;
    margin-left: 8vw;
}

#titulo-carrossel > div > p:first-child {
    font-family: "Mali", cursive, 'Helvetica Neue', sans-serif;
    font-size: 6vh;
    color: var(--cor1);
}

#titulo-carrossel > div > h1 {
    font-size: 6.5vh;
    margin-top: 0px;
}

#titulo-carrossel > div > p:nth-child(3) {
    font-size: 1.9vh;
}

#titulo-carrossel > div > div {
    width: 1px;
    height: 6vh;
    background-color: #646464;
    transform: translateX(3vw);
    margin-top: 1.2vh
}

#titulo-carrossel > div > button {
    margin-top: 1.2vh;
    border-radius: 30px;
    background-color: var(--cor1);
    padding: 10px;
    font-size: 15px;
    color: white;
    border: none;
}

#carrossel-inicio > div:last-child {
    align-self: flex-end;
    transform: translateX(13.2vw);
}

.pontos { /*!Fazer o efeito do carrosel e ativar os pontos com cor cinza*/
    width: 15px;
    height: 15px;
    background-color: var(--cor3);
    border-radius: 100%;
    display: inline-block;
}

#cuidado-plantas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
}

#cuidado-plantas > div > img {
    width: 100px;
    height: 100px;
}

#cuidado-plantas > h2 {
    padding-top: 5px;
    font-size: 18px;
}

#cuidado-plantas > p {
    width: 1000px;
    text-align: center;
    padding-top: 5px;
}

#cuidado-plantas > button {
    width: 150px;
    height: 40px;
    border: none;
    background-color: var(--cor1);
    border-radius: 30px;
    color: white;
    font-size: 15px;
    margin: 3vh;
}

main > section > div:nth-child(2) {
    margin-left: 8vw;
}

#layout-plantas {
    display: grid;
    grid-template-areas: 
    "a b c"
    "a d e";
    width: 75%;
    height: auto;
    place-items: center;
}

.caixas-layout-plantas {
    width: 300px;
    height: 150px;
    border-radius: 5px;
    display: flex;
}
/*! Não se Esqueça de depois adicionar os botões para a visualização
.caixas-layout-plantas > button {
    display: none;
}   

.caixas-layout-plantas:hover > button {
    display: block;
    border: none;
    background-color: var(--cor1);
    padding: 5px;
    width: 4vw;
    color: white;
    border-radius: 5px;
    align-self: flex-end;
    cursor: pointer;
    transform: translate(-2.5vw, -2vh);
} */

#planta1 {
    grid-area: a;
    background-image: url("../img/vasos/filtros-plantas/planta1.jpg");
    background-size: cover;
    height: 56vh;
    width: 32vw;
}

#planta2 {
    grid-area: b;
    height: 25vh;
    width: 24vw;
    transform: translateX(-0.5vw);
    background-image: url("../img/vasos/filtros-plantas/planta3.jpg");
    background-size: cover;
    margin-bottom: 10px;
}

#planta3 {
    grid-area: c;
    width: 22vw;
    height: 25vh;
    background-image: url("../img/vasos/filtros-plantas/planta2.jpg");
    background-size: cover;
    margin-bottom: 10px;
}

#planta4 {
    grid-area: d;
    height: 28vh;
    width: 27vw;
    margin-left: 2vw;
    background-image: url("../img/vasos/filtros-plantas/planta4.jpg");
    background-size: cover;
    transform: translateX(-10px);
}

#planta5 {
    grid-area: e;
    width: 20vw;
    height: 28vh;
    margin-left: 2vw;
    background-image: url("../img/vasos/filtros-plantas/planta5.jpg");
    background-size: cover;
    transform: translateX(2px);
}

#layout-plantas > div > p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    transform: translate(1vw, 1vw);
}

.titulo-seção {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
}

.titulo-seção > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
}

.titulo-seção > p {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: var(--cor2);
}

.titulo-seção > div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.titulo-seção > div > button {
    font-size: 18px;
}

.titulo-seção > div > button:first-child {
    color: var(--cor1);
}

main > section > div:nth-child(4) {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#seção-produtos {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
}

.produtos-plantas {
    width: 280px;
    height: 450px;
    margin: 10px;
    display: inline-block;
}

.desconto {
    width: 35px;
    padding: 3.5px;
    border-radius: 5px;
    background-color: #F0524B;
    color: white;
    text-align: center;
    position: absolute;
}

.container-acessórios-produtos {
    width: 100%;
    height: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.acessórios-produtos {
    display: none;
    width: 30px;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color: white;
    position: relative;
    top: -2.5vh;
}

.produtos-plantas:hover > .container-acessórios-produtos > .acessórios-produtos {
    display: block;
}

.container-imagens-produtos {
    width: 100%;
    height: 75%;
}

.container-imagens-produtos > img {
    width: 100%;
    height: 100%;
}

#seção-produtos > div:nth-child(1) > div:nth-child(3) > div.container-imagens-produtos > img {
    transform: translateY(3vh);
}

.container-preço-plantas {
    width: 100%;
    height: auto;
    text-align: center;
}

.container-preço-plantas > p {
    display: inline;
    margin-right: 8px;
}

.mover-produtos-principais {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -4vh;
    margin-bottom: 3vh;
}

.setas-carrossel {
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 10px;
    border-radius: 100%;
}

#promoção {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-promoção {
    width: 19vw;
    height: 21vh;
    padding: 15px;
    border: 2px solid white;
    position: absolute;
}

#container-promoção > div {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container-promoção > div > h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 4vh;
}

#container-promoção > div > p:nth-child(2) {
    font-family: "Montserrat", sans-serif;
    font-size: 3vh;
    margin-bottom: 0.5vh;
}

#container-promoção > div > p:nth-child(3) {
    font-size: 1.7vh;
}

#container-promoção > div > p > span {
    font-family: "Montserrat", sans-serif;
    font-size: 3vh;
    color: var(--cor2);
}

.imagens-promoção {
    width: 40vw;
    height: 50vh;
    margin: 30px 20px; /*adicionart talvez uma borda mais redondinha*/
}

.imagens-promoção:first-child {
    background-image: url("../img/fundos/pexels-cottonbro-studio-4503263.jpg");
    background-size: cover;
}

.imagens-promoção:nth-child(3) {
    background-image: url("../img/fundos/pexels-cottonbro-studio-4505171.jpg");
    background-size: cover;
}

#informativos {
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-informativos {
    padding-right: 20px;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--cor3);
}

.container-informativos > div > i {
    font-size: 26px;
    padding-right: 10px;
    padding-left: 10px;
    color: var(--cor2);
}

.container-informativos > div > p:first-child {
    font-size: 18px;
}

.container-informativos > div > p:nth-child(2) {
    color: rgb(97, 96, 96);
}

.titulo-seção > p:nth-child(2) {
    color: rgb(0, 133, 0);
}

#container-maior-categorias {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}


#container-categorias {
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container-plantas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#navegação-filtros {
    width: 10vw;
    height: auto;
}

.filtros-produtos {
    padding: 0.5vw 2vh;
    color: var(--cor4);
    text-align: left;
}

.filtros-produtos:first-child { 
    color: var(--cor2);
}

.navegação-produtos:hover {
    color: var(--cor1);
    cursor: pointer;
}

#container-recomendações { /*!Rever qual imagem ficou melhor para fundo*/
    width: 100%;
    height: 50vh;
    margin: auto;
    background-image: url("../img/fundos/");
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.imagem-perfil {
    width: 100px;
    height: 100px;
    background-image: url("../img/pessoas/vitor.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    z-index: 5;
}

#container-recomendações > div:nth-child(2) > p:first-child {
    margin-top: 1.5vh;
    font-size: 20px;
    text-align: center;
    color: var(--cor2);
}

#container-recomendações > div:nth-child(2) > p:nth-child(2) {
    font-size: 17px;
    text-align: center;
    color: var(--cor4);
}

#container-recomendações > div:nth-child(3) > p{
    margin-top: 2vh;
    width: 600px;
    text-align: center;
}

.container-pontos {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 3vh;
}

main > section > div:nth-child(12) {
    margin-top: 0;
}

#container-blogs-maior {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-blogs {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.blogs { /*!Criar uma responsividade exclusiva para monitor da caixa vermelha*/
    width: 80%;
    height: 220px;
    margin: 0px 15px;
    display: flex;
    flex-direction: row;
}

.imagens-caixa-blogs {
    width: 45%;
    height: auto;
}

.texto-caixa-blogs {
    width: 50%;
    height: auto;
    padding: 10px;
}

.data-publicação-blogs {
    width: 100%;
    height: auto;
}

.data-publicação-blogs > p {
    display: inline-block;
    color: var(--cor4);
    margin-bottom: 8px;
}

.data-publicação-blogs > i {
    color: var(--cor4);
}

.resumo-caixa-blog { /*!Verificar Como ficou na versão de monitor o epsaçamento entre os textos*/
    text-align: left;
    margin-bottom: 10px;
}

.resumo-caixa-blog> p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.botão-blog > button {
    border: 1px solid var(--cor1);
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
}

.botão-blog > button:hover {
    background-color: var(--cor2);
    color: white;
    transition: 0.2s linear;
}

.imagens-caixa-blogs {
    background-size: cover;
    border-radius: 5px;
}

.imagens-caixa-blogs:first-child {
    background-image: url("../img/fundos/pexels-cottonbro-4505144.jpg");
    background-position: center;
}

#container-blogs > div:nth-child(2) > div.imagens-caixa-blogs{
    background-image: url("../img/fundos/pexels-cottonbro-4507712.jpg");
}

#mover-elementos-blog {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.setas-carrossel-blog {
    padding: 0px 15px;
}

#conatiner-contato {
    width: 100%;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#conatiner-contato > div:first-child > i {
    font-size: 20px;
    padding-right: 5px;
}

#conatiner-contato > div:first-child > p{
    display: inline;
    font-size: 20px;
}

#conatiner-contato > div:nth-child(2) > input[type="text"]{
    border: none;
    font-size: 18px;
}

#conatiner-contato > div:nth-child(2) > input[type="text"]:focus {
    outline: none;
}

#conatiner-contato > div:nth-child(2) > button {
    border: none;
    background-color: var(--cor1);
    color: white;
    border-radius: 5px;
    padding: 6px;
}

#container-detalhes-rodapé {
    margin-top: 6vh;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

